<app-contenedor color="primary"
  [titulo]="'Registrar tipo de permiso'"
  [banderaEstado]="banderaEstado"
  [col]="'col-md-4'"
  [loadingPantalla] = "loadingPantalla"
  [icon]="'fa fa-save'"
>
<form [formGroup]="tipoPermisoForma" *ngIf="tipoPermisoForma">
  <div class="row">
    <div class="form-row col-sm-12">
      <mat-form-field appearance="legacy" class="form-group col-sm-12 p-3">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="descripcion" class="text-uppercase">
      </mat-form-field>
    </div>
  </div>
  <div class="text-center pt-3">
    <button mat-raised-button color="primary" (click)="registrarEmpleado()">Guardar</button>
  </div>
</form>

</app-contenedor>
